<ion-view view-title="News">
  <ion-nav-title>
    <img class="image" src="http://forum.ionicframework.com/user_avatar/forum.ionicframework.com/mhartington/45/7574.png">News
  </ion-nav-title>

  <ion-content ng-controller="FeedController" ng-init="init()">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
  <div class="list">

    <a ng-repeat="item in items track by $index" class="item item-thumbnail-left" ng-click="browse(item.link)">

      <img ng-src="{{ item.mediaGroups[0].contents[0].url }}" />
      <h4>{{ item.publishedDate }}</h4>
      <h2>{{ item.title }}</h2>
      <h3>{{ item.contentSnippet }}</h3>
    </a>

  </div>
    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>
</ion-content>
</ion-view>
